/* Dark mode snippet - Begin */

.dark-mode {
  background-color: #1e1e1e;
  /* color: white; */
  filter: invert(100%);
  mix-blend-mode: difference;
}
/* Dark mode snippet - End */

.today {
  color: rgb(0, 102, 255);
  text-decoration: underline;
  font-weight: bold;
}

.start-date.date {
  /* color: green; */
  background-color: #d8b400;
  border-radius: 5px;
  border: 1px solid black;
  padding: -10px;
  text-decoration: underline;
}

.end-date {
  color: red;
  text-decoration: underline;
}

/* center grid to page */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

/* add a square to date */
.date {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid black;
  width: 95%;
  height: 90%;
  padding-bottom: 20px;
}

.notes {
  resize: none;
  height: 100px;
  overflow: auto;
  margin: auto;
  padding: initial;
}
